__pycache__
env
db.sqlite3
*.zip
*.tar.gz
multitasking-concept-illustration-character
/multitasking-concept-illustration-character/
env
__pycache__
pagination-jquery-master
sample.html
Dockerfile
.dockerignore
*.log
Stress_Summary__Kitchenij_Load_Test_1_1.pdf
mobilefreshey.png
db.sqlite3
/media/
line-show-more-less
Instagram-Photos-Without-API-instagramFeed
# Django project
/static/
*.zip
digilab/
.sass-cache
# Python and others
__pycache__
*.pyc
.DS_Store
*.swp
/venv/
/tmp/
/.vagrant/
/Vagrantfile.local
node_modules/
/npm-debug.log
/.idea/
.vscode
coverage
.python-version

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
