{% extends 'drive/base.html' %}


{% block content %}

    <div class="container">
        <div class="my-3">
            <div class="h3">File Explorer</div>
        </div>

        <div class="file-tree">
            <ul id="root">
            {% include 'drive/includes/_tree.html' %}
            {% comment %} {% for dir in root %}
                <li>
                    <a class="" data-toggle="collapse" href="#collapse{{dir.id}}" role="button" aria-expanded="false" aria-controls="collapse{{dir.id}}">
                        <i class="fas fa-folder"></i> {{dir.name}}
                    </a>
                </li>
            {% endfor %} {% endcomment %}
            
            {% for f in root_files %}
                <li> File {{f.name}}</li>
            {% endfor %}
                
            </ul>
        </div>
    </div>



{% endblock  %}